*{
    scroll-behavior:smooth;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#DDD;
    font-size:14px;
    font-family:"Segoe UI", Arial, sans-serif;
}

button{
    cursor:pointer;
}

.card, .chat-card{
    max-width:450px;
    margin:auto;
    padding:10px;
    text-align:center;
    background:#26AF9C;
    min-height:100vh;
}

.card h1{
    margin:40px 0;
    padding:10px 0;
    border-bottom:1px dotted #0D1821;
}

.chat-card h1{
    margin:10px 0;
    padding:5px 0;
    border-bottom:1px dotted #0D1821;
}

.card p{
    font-weight:bold;
    margin-bottom:20px;
}

.resp{
    border:2px solid #C84448;
    background:#FDE9E9;
    color:#C84448;
    padding:10px;
    border-radius:5px;
}

.username{
    padding:10px;
    width:100%;
    margin-bottom:10px;
}

.submit{
    width:100%;
    padding:10px;
    background:#C84448;
    border:2px solid #C84448;
    color:#FFF;
    font-weight:bold;
}

.wlc{
    font-weight:bold;
    margin-bottom:5px;
}

.wlc span{
    color:#09018F;
}

.out{
    width:80px;
    color:#FFF;
    background:#C84448;
    border-radius:10px;
    margin:auto;
    padding:5px 0;
    margin-bottom:5px;
    cursor:pointer;
}

.msgln{
    margin-bottom:10px;
}

.msgPane{
    height:450px;
    background:#FFF;
    padding:10px;
    text-align:left;
    font-size:15px;
    border-radius:5px;
    overflow-y:auto;
}

.msgForm{
    display:flex;
    margin-top:5px;
}

.msgForm input{
    width:100%;
    padding:5px;
}

.msgForm .submit{
    width:70px;
    flex-shrink:0;
}